<div class="w3-container w3-blue" style=" height: 1000px ; width: 100% ; padding: 20px">
	
				<div class="row">
					
						        				
		
												<dir class="w3-half"><%= button_to "Prestamos", prestamos_path , :method => :get, class: " caja_menu_inicio w3-purple  w3-round-large w3-btn" %> </dir>



								          

												<dir class=" w3-half"><%= button_to "Pago", root_path , :method => :get, class: " caja_menu_inicio w3-orange  w3-round-large w3-btn" %> </dir>



					    
			    </div>

			    <div class="row">
			   
			   									<dir class=" w3-half"><%= button_to "Personas", personas_path , :method => :get, class: " caja_menu_inicio w3-green  w3-round-large w3-btn" %> </dir>

												<dir class=" w3-half"><%= button_to "Ver mes", root_path , :method => :get, class: " caja_menu_inicio w3-yellow  w3-round-large w3-btn" %> </dir>
								                 
								           
								                    	
				
			    	
			    </div>

</div>