<!DOCTYPE html>

   <html>

   <!--  <html  style=" background-image: url( '/assets/fondo1.jpg');  background-size: cover ">

   -->
	


        <head>
          <title>GestioVanina</title>
          <%= csrf_meta_tags %>

          <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
          <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

          <div class="w3-container w3-red" style="height: 100px "> 
                
          </div>

        </head>

        <body class="w3-center" >
          <%= yield %>
        </body>
</html>
